<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>cn.edu.hpu.stumag.servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>cn.edu.hpu.stumag.servlet.AddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelServlet</servlet-name>
    <servlet-class>cn.edu.hpu.stumag.servlet.DelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PreModifyServlet</servlet-name>
    <servlet-class>cn.edu.hpu.stumag.servlet.PreModifyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyServlet</servlet-name>
    <servlet-class>cn.edu.hpu.stumag.servlet.ModifyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>cn.edu.hpu.stumag.register.AddUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WelUser</servlet-name>
    <servlet-class>cn.edu.hpu.stumag.register.WelUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagerPage</servlet-name>
    <servlet-class>cn.edu.hpu.stumag.register.ManagerPage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindStu</servlet-name>
    <servlet-class>cn.edu.hpu.stumag.register.FindStu</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>androiddeng</servlet-name>
    <servlet-class>cn.edu.hpu.stumag.android.androiddeng</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>androidcontent</servlet-name>
    <servlet-class>cn.edu.hpu.stumag.android.androidcontent</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagerHome</servlet-name>
    <servlet-class>cn.edu.hpu.stumag.register.ManagerHome</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelServlet</servlet-name>
    <url-pattern>/del</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PreModifyServlet</servlet-name>
    <url-pattern>/preModify</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyServlet</servlet-name>
    <url-pattern>/modify</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WelUser</servlet-name>
    <url-pattern>/Wel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerPage</servlet-name>
    <url-pattern>/ManagerPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindStu</servlet-name>
    <url-pattern>/FindStu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>androiddeng</servlet-name>
    <url-pattern>/androiddeng</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>androidcontent</servlet-name>
    <url-pattern>/androidcontent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerHome</servlet-name>
    <url-pattern>/ManagerHome</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>welcome.jsp</welcome-file>
  </welcome-file-list>
</web-app>
